[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
lucide = {extras = ["django"], version = "*"}
djlint = "*"
pytz = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
